[submodule "test/vendor/bats-assert"]
	path = test/vendor/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "test/vendor/bats-support"]
	path = test/vendor/bats-support
	url = https://github.com/bats-core/bats-support.git
